

.form{

}

.main{
    width: 700px;
    text-align: center;
}

.image{
    float: left;    
}


.title{
    width: 500px;
    height: 150px;
    display: inline-block;
}

.txt{
    height: 320px;
    width: 400px;
    display: inline-block;
    background-color:honeydew;
    box-shadow: 1px 0px 0px 0px;
}

.footer{
    width: 300px;
    display: inline-block;
    margin: 10px;
}